body {
    box-sizing: 0;
    margin: 0 auto;
    padding: 0;
    background: #5e5e5e;
}

.box1 {
    width: 400px;
	background: #e07979;
	height: 400px;
}

.box2 {
	width: 300px;
	background: #77e083;
	height: 300px;
}

.box3 {
    width: 200px;
	background: #77b4e0;
	height: 200px;
}

/* takes whole width of page */
.box1{
    width: 100%;
}

/* takes 50% of parent div = 50% */
.box2 {
    width: 50%;
}

/* takes up 50% of parent divv = 25% */
.box3 {
    width: 50%;
}